/m4
/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/test/.deps
/test/.libs
/test/*.o
/test/gtest/*.o
/test/gtest/lib*.a
/test/puDatatypesTest
/depcomp
/install-sh
/libtool
/ltmain.sh
/puDatatypes.pc
/missing
/debian/metlibs-pudatatypes-dev.debhelper.log
/debian/metlibs-pudatatypes-dev.substvars
/debian/metlibs-pudatatypes-dev
/debian/files
/src/config.h
/src/stamp-h1
